.App {
  height: 100vh;
  background-color: black;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar-container {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row {
  display: flex;
}

.cell {
  width: 70px;
  height: 70px;
  border: solid 1px white;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

