.App {
  height: 100vh;
  background-color: black;
  color: white;

  font-size: 18px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 20px;

  position: relative;
  top: 30px;
}

h2 {
  margin: 0;
}

.cell {
  height: 70px;
  width: 70px;
  box-sizing: border-box;
}

.calendar-game {
  display: flex;
  flex-direction: row-reverse;
  gap: 50px;
}

.calendar-container {
  height: 490px;
  width: 490px;
}


/* #region CALENDAR */
.calendar-grid {
  position: absolute;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row {
  display: flex;
}

.calendar-cell {
  border: solid 1px white;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* #endregion CALENDAR */

/* #region SHAPE-GRID */

.shape-grid-container {
  position: absolute;
}

.cell.shape {
  transition: all .5s ease-in-out;
}

/* #region SHAPES */
.shape-1 {
  background-color: rgb(255, 219, 153);
}

.shape-2 {
  background-color: rgb(148, 247, 171);
}

.shape-3 {
  background-color: rgb(211, 163, 255);
}

.shape-4 {
  background-color: rgb(255, 162, 216);
}

.shape-5 {
  background-color: rgb(255, 144, 144);
}

.shape-6 {
  background-color: rgb(145, 220, 255);
}

.shape-7 {
  background-color: rgb(255, 252, 168);
}

.shape-8 {
  background-color: rgb(113, 108, 255);
}

/* #endregion SHAPES */

/* #endregion SHAPE-GRID */


/* #region SOLUTION-SELECTION */

.solution-selection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}


.controls {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;

  border: solid 2px white;
  border-radius: 5px;
  padding: 25px;

  height: fit-content;
}

.controls div {
  margin: 3px 0;
}

/* #endregion SOLUTION-SELECTION */


/* #region MONTH-DAY-SELECTION */

.month-day-selection {
  display: flex;
  flex-direction: column;
}

.month-day-dropdowns {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.dropdown select {
  padding: 5px;
  font-size: 15px;
}

/* #endregion MONTH-DAY-SELECTION */